<% content_for :title, "프로필 수정하기 | #{@user.name}님의 대시보드" %>

<% content_for :main_class, "--fixed" %>

<div class="row justify-content-center">

  <div class="col-12 col-md-9 height--max">
    <header class="dashboard__header text-center">
      <h1 class="sr-only">
        프로필 수정하기
      </h1>
    </header>
    <%= devise_error_messages! %>
    
    <section class="dashboard__content">
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= render partial: "form", locals: { f: f, btn: "프로필 업데이트", is_edit: true } %>

      <% end %>

      <div class="form__section pb-100">
        <header>
          <h1>회원탈퇴</h1>
          <p>
            회원 탈퇴 이후 모든 데이터는 사라지고 탈퇴한 계정에 대한 데이터 복구가 불가능합니다.
          </p>
        </header>
        <%= button_to "회원탈퇴 하기", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까?" }, method: :delete, class: "btn--ghost mt-4" %>
      </div>
      
    </section>
  </div>
</div>