<% content_for :title, "프로필 수정하기 | #{@user.name}#{current_user.name}님의 대시보드" %>

<% content_for :main_class, "--fixed" %>

<div class="row">
  <%= render partial: "shared/sidebar", locals: { user: @user, is_edit: true } %>
  <div class="col-lg-9 height--max">
    <header class="dashboard__header fixed--height flex--freeze">
      <h1>
        프로필 수정하기
      </h1>
    </header>

    <section class="dashboard__content pr-56">
      
      <%= render partial: "form", locals: { btn: "프로필 업데이트", is_edit: true } %>
      <div class="form__section pb-56">
        <header>
          <h1>회원탈퇴</h1>
          <p>
            회원 탈퇴 이후 모든 데이터는 사라지고 탈퇴한 계정에 대한 데이터 복구가 불가능합니다.
          </p>
        </header>
        <%= button_to "회원탈퇴 하기", registration_path(resource_name), data: { confirm: "정말 탈퇴하시겠습니까?" }, method: :delete, class: "btn--ghost mt-4" %>
      </div>
    </section>
  </div>
</div>