.dashboard
  @extend %dashboard
  main
    +gr(1)
    +pt(56px)
    +pb(40px)
    overflow: auto
    

.dashboard--fixed
  @extend %dashboard-fixed-height
  main,
  .container
    @extend %dashboard-stretch-height
  main
    +pt(56px)


.dash-header
  h1
    @extend %heading-dashboard-header
    +mb()
  &__detail
    +flex()
    dl:not(:last-child)
      +sh()
      +mr(50px)
    dl:last-child
      +gr(1)
      +sh(1)
      dd
        +h(32px)
        +mb(48px)
        line-height: 1.35
        overflow: hidden
    dt
      @extend %ui-secondary
      +mb(10px)
    dd
      @extend %ui-primary

.dash-content
  .dash-section__content.height--max
    overflow-y: auto

#modal
  display: none
  &.active
    display: flex