<header class="home-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="home-yay">
          <a href="/">
            <%= image_tag 'logo.svg', alt: "Yay" %>
          </a>
        </h1>
        <div>
          <a href="/users/sign_in"
            class="btn--ghost">
            로그인
          </a>
          <a href="/users/sign_up"
            class="btn--default">
            회원가입하기
          </a>
        </div>
      </div>
    </div>
  </div>
</header>