<% content_for :title, "메인 | #{@user.name}님의 대시보드" %>

<div class="row align-items-stretch pb-4">

  <%= render partial: "sidebar", locals: { user: @user } %>

  <div class="col-lg-9 d-flex flex-column">
    <section class="dash-section mb-5">
      <header class="dash-section__header">
        <h1>
          진행중인 수업
        </h1>
      </header>
      <div class="dash-section__content"
        style="max-height: 294px;">
        <ul class="dash__courses">

          
        </ul>
      </div>
    </section>
  
    <section class="dash-section d-flex flex-column">
      <header class="dash-section__header">
        <h1>
          지난 수업
        </h1>
      </header>
      <div class="dash-section__content">
        <ul class="dash__courses">

        </ul>
      </div>
    </section>
  </div>
</div>