// Breakpoints
$xs: 321px
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px


// Colorss
$primary-blue: #1471ff
$secondary-blue: #3188ff
$darkblue: #3a4961

$gray: #6e6e78
$bg-gray: #fafafa


// Typography
$noto: 'Noto Sans KR', sans-serif