// Breakpoints
$xs: 321px
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px


// Colorss
$primary-blue: #1471ff
$secondary-blue: #3188ff
$darkblue: #3a4961
$black: #252525
$muted-gray: #c2c2c2
$foggy-gray: #8397a9
$gray: #6e6e78
$border-gray: #e8e9eb
$bg-gray: #fafafa
$white: #ffffff


// Typography
$noto: 'Noto Sans KR', sans-serif


// Transition Time
$fast: 150ms
$normal: 250ms
