%button,
.btn--default
  display: inline-flex
  justify-content: center
  align-items: center
  height: 36px
  padding: 0 20px
  border: none
  outline: none
  border-radius: 2px
  background-color: $primary-blue
  font-weight: 500
  font-size: 14px
  color: #fff
  transition: transform 250ms
  &:active,
  &:focus,
  &:hover
    outline: none
    box-shadow: none
    border: none
    text-decoration: none
    transform: translateY(2px)
    color: #fff
