*
  margin: 0
  font-family: $noto
 
html
  font-size: 16px

ul,
ol,
dl
  +pl()
  +mb()
  list-style-type: none

a
  &:hover
    text-decoration: none
    color: inherit

em
  font-style: normal
  font-weight: 500

@each $sizing in $sizing-lists
  .mt-#{$sizing/($sizing*0+1)}
    +mt(#{$sizing} !important)

  .mb-#{$sizing/($sizing*0+1)}
    +mb(#{$sizing} !important)

  .ml-#{$sizing/($sizing*0+1)}
    +ml(#{$sizing} !important)
  
  .mr-#{$sizing/($sizing*0+1)}
    +mr(#{$sizing} !important)

  .pt-#{$sizing/($sizing*0+1)}
    +pt(#{$sizing} !important)

  .pb-#{$sizing/($sizing*0+1)}
    +pb(#{$sizing} !important)

  .pl-#{$sizing/($sizing*0+1)}
    +pl(#{$sizing} !important)
  
  .pr-#{$sizing/($sizing*0+1)}
    +pr(#{$sizing} !important)


  
.height--max
  +flex(column)
  +gr(1)

.flex--freeze
  +gr()
  +sh()