%form-style
  +pr(10px)
  +pl(10px)
  display: block
  border-radius: 4px
  border: 1px solid $light-gray
  box-shadow: 0 0 0 0px rgba($secondary-blue, .1)
  transition: box-shadow 200ms, border-color 200ms
  font-size: 14px
  line-height: 1
  color: $black
  +min-md()
    font-size: 15px
  &:focus,
  &:active
    border-color: rgba($secondary-blue, .4)
    outline: none
    box-shadow: 0 0 0px 2px rgba($secondary-blue, .1)

  
.form
  &__item:not(.nested-fields)
    +mb(24px)
  &__radio
    +flex()
    +wrap()
    +ai()
    +mb(28px)
    & > *
      +mb()
    .form__label
      +w()
      +mb(.75em)
  &__radio-btn
    +mr(8px)
  &__label
    +mb(.5em)
    display: block
    font-size: 13px
    font-weight: 500
    line-height: 1
    color: $gray
    &--radio
      +mr(32px)
      font-size: 14px
      line-height: 1
      +min-md()
        font-size: 15px
  &__input
    @extend %form-style
    @extend %ui-black
    +w()
    +h(44px)
    display: block
    &--disabled
      @extend .form__input
      +flex()
      +ai()
      border: none
  &__select
    +bgc($white)
  &__file
    +pt(12px)
    font-size: 14px
  &__textarea
    @extend %form-style
    +w()
    +min-h(100px)
    +pt(12px)
    +pb(12px)
    +mb(24px)
    line-height: 1.4
  &__meta-text
    +ml(4px)
    font-size: 13px
    line-height: 1
    color: $muted-gray
    font-style: normal
  &__remember-me
    +flex()
    +ai()
    label
      +rel()
      +t(3px)
      +ml(8px)
      +mb()
  &__submit
    +flex()
    +jc()
    +ai()
    +mt(16px)
  &__group
    +flex()
    +ai()
  &__inline
    +gr()
    +sh()
    +flex()
    +ai()

.form__section
  +mt(100px)
  header
    h1
      @extend %heading-4
    p
      @extend %ui-secondary
      line-height: 1.2 !important
  &--nested
    +pr(16px)
    +pl(16px)
    +mb(16px)
    +bgc($bg-gray)
    border-radius: 4px
    .form__item
      +pt(24px)
      +pb(16px)

.form__inline
  .form__input
    +w(100px)
    +h(40px)
    +mb()