.home-header,
.dashboard-header
  +w()
  +bgc(rgba(255, 255, 255, .9))
  .col-12
    +flex()
    +jc(space-between)
    +ai()
    +h(63px)

.home-yay,
.dashboard-yay
  +mb()
  a
    display: block
    transition: opacity 200ms
    &:hover
      opacity: .5
  img
    +w(auto)
    +h(48px)

.dashboard-header
  border-bottom: 1px solid $light-gray
  .container
    overflow: initial !important
  .d-flex.align-items-center
    +rel()
  #profile-menu
    +abs()
    +z(1)
    +l(50%)
    +b(-70px)
    border-radius: 2px
    white-space: nowrap
    box-shadow: 0 4px 20px 0 rgba($gray, .2)
    transform: translateX(-50%)
    opacity: 0
    transition: bottom 200ms, transform 250ms, opacity 200ms
    &:active,
    &:focus,
    &:hover
      transform: translate(-50%, 2px)
    .btn--menu
      @extend %button
      +flex()
      +bgc(rgba($black, .85))
      font-size: 13px
      color: $white
      transition: background-color 150ms
      &:active,
      &:focus,
      &:hover
        +bgc(rgba($black, 1))
        transform: translateY(0px)
      &:first-child
        border-radius: 2px 2px 0 0
      &:last-child
        border-radius: 0 0 2px 2px 
    &::after
      +abs()
      +l(50%)
      +t(-8px)
      +w(0)
      +h(0)
      content: ""
      border-top: 4px solid transparent
      border-bottom: 4px solid rgba($black, .9)
      border-left: 4px solid transparent
      border-right: 4px solid transparent
      transform: translateX(-50%)
    &.active
      +b(-80px)
      opacity: 1


  .user__img,
  .user__img--placeholder
    cursor: pointer
    transition: box-shadow 200ms, border-color 200ms, opacity 100ms
    &:hover:not(.active)
      opacity: .8
    &:focus
      outline: none
      box-shadow: 0 0 0px 4px rgba($secondary-blue, .2)
    &.active
      border-color: rgba($secondary-blue, .4)
      outline: none
      box-shadow: 0 0 0px 4px rgba($secondary-blue, .45)

