<div class="panel__content">
  <%= render partial: "shared/user_profile", locals: { u: stu, alt: false } %>
  <h1>
    <%= stu.name %>
    <span class="ui--secondary d-block">
      <%= stu.user_department_str %>
    </span>
  </h1>
</div>