<% content_for :title, "수업 개설하기 | 님의 대시보드" %>

<div class="row pb-4"
  id="course-new">
  <div class="col-12 mb-5">
    <header class="dash-header">
      <h1>수업 개설하기</h1>
    </header>
  </div>
  <div class="col-lg-9">
    <div class="dash-content">
      <%= render partial: "form" %>
    </div>
  </div>
</div>
