.panel
  &__item
    +p()
    +mb(2px)
    a
      display: block
      transition: opacity 100ms
      &:hover,
      &:focus,
      &:active
        opacity: .5
      .disabled &
        opacity: .08
        pointer-events: none
        cursor: default
    
  &__content
    +flex()
    +ai()
    +w()
    +p(8px 0)
    h1
      @extend %ui-heading
      +mb()
      +ml(12px)
    span
      +mt(5px)
      font-size: 12px
    [class*="user__img"]
      +rel()
      +b(2px)

  &__list.disabled
    +rel()
    &::after
      @extend %ui-secondary
      +abs()
      +t(30px)
      +l(50%)
      content: "수강인원을 초과했습니다."
      text-align: center
      white-space: nowrap
      transform: translateX(-50%)
  